<div class="container-table100 detail-forAdmin">
            <div class="shadow-lg d-block shadow text-center" style="width: 100%;min-height: 630px;margin-top: 119px;background-color: rgba(255,255,255,0.79);">
                <form style="padding-top: 70px;" method="post" action="sendmess?key=<%= poster._id %>">
                    <div class="form-group">
                        <h1 class="text-center" style="color: rgb(1,1,1);font-weight: bold;">Chi tiết bài đăng</h1>
                        <p><span style="color:black; font-weight:bold">Trạng Thái: </span> <%- statusList[poster.status] %></p>
                        <input name="statusPost" type="hidden" value="<%= poster.status %>">
                        <input name="content" type="hidden" value="<%= poster.content %>">
                    </div>
                    <% if (locals.message) { %>
                        <% message.forEach(mess => { %>
                            <div class="alert alert-info">
                                <%= mess.msg %>
                            </div>
                        <%  }); %>
                    <% } %>
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6 bordercustom">
                                <blockquote class=" form-control text-left form-control-lg border-0"   >
                                        <%- poster.content %>
                                        <br>
                                        <span>-----------</span>
                                <blockquote>
                            </div>
                            
                            <div class="form-group col-md-6 text-center col-sm-12 blockPicture">
                                <% if(Images.length>0){ %>
                                    <figure class="picture">
                                    <% Images.forEach(img => { %>
                                        <img src="data:image/png;base64,<%= img.data.toString('base64') %>" />
                                    <% }) %>
                                    </figure>
                                <% } else{ %>
                                    <div class="noPicture ">
                                        <p></p>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"><textarea class="form-control form-control-lg" placeholder="Admin note send user here!" name="messagesOfAdmin" style="width: 50%;margin-left: 25%;min-height: 100px; max-height: 500px;"><%= poster.note %></textarea></div>
                    <%
                    if(poster.status == 1){
                        %><div class="form-group"><a href="<%= poster.PostUrl %>" target="_blank">Liên kết đến bài viết</a></div>
                    <% } else {
                            %>
                        <div class="form-group ">
                            <label>
                                <input class="check-custom toggle-switch" type="checkbox" name="statusBox" <%= poster.status== 2?"checked":0 %> >
                                <span class="check-toggle"></span>
                                <span style="font-weight: bold">Từ chối bài đăng</span>
                            </label>
                        </div>
                    <%
                    }
                    %>
                    <div class="form-group">
                            <div class="row">
                                    <div class="col-md-6 col-lg-6 mb-3">
                                        <div class="row">
                                            <div class="col-md-6"></div>
                                            <div class="col-md-6">
                                                <button class="btn btn-primary btn-lg w-75" type="submit" style="width: 20%;">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 mb-3">
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <a href="/admin/listPost?filter=0" class="btn btn-dark btn-lg w-75" style="width: 20%;">Cancel</a>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>