<div class="container-table100 backgroundManage">
    <div class="cloud-animation"></div>
    <div class="wrap-table100" style="z-index:2">
        <div class="table100">
            <!--<div class="cloud-animation w-100" style="border:1px solid red; height:100px;background-image:url('assets/img/cloud.png')"></div>-->
            <h1 class='text-center mt-5 mb-4' style="font-size:60px;">Quản Lý Thành Viên</h1>
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" id="username" type="search" placeholder="Tìm kiếm người dùng">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </form>
            <ul id="messages">
            </ul>
            <br>
                <table>
                    <thead>
                    <tr class="table100-head">
                        <th scope="col" class='column2'>#</th>
                        <th scope="col" class='column1'>Tên người dùng</th>
                        <th scope="col" class='column3'>Số bài đăng</th>
                        <th scope="col" class='column4'>Số điểm</th>
<!--                        <th scope="col">Thao tác</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <%
                        var i = (current == 1) ? 1 : (current - 1) * 10 + 1;
                        users.forEach(userr => {
                    %>
                        <tr>
                            <td scope="col"class='column2'><%= i %></td>
                            <td scope="col" class='column1'>
                                <a href="/admin/manageUser/view/<%= userr._id %>"><%= userr.name %></a>
                            </td>
                            <td scope="col" class="column3"><%= userr.countPost %></td>
                            <td scope="col" class="column4"><%= userr.point %></td>
                        </tr>
                    <% i++ }) %>
                    </tbody>
                </table>
                <br>    
                <% if (locals.pages && pages > 2) { %>
                    <ul class="pagination" style="justify-content: center;">
                        <% if (current == 1) { %>
                            <li class="page-item disabled"><a class="page-link">Trang Đầu</a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/admin/manageUser/1">Trang Đầu</a></li>
                        <% } %>
                        <% var i = (Number(current) > 2 ? Number(current) - 1 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                        <% } %>
                        <% for (; i <= (Number(current) + 1) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                                <li class="page-item active"><a class="page-link"><%= i %></a></li>
                            <% } else { %>
                                <li class="page-item "><a class="page-link" href="/admin/manageUser/<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (i == Number(current) + 1 && i < pages) { %>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                            <% } %>
                        <% } %>
                        <% if (current == pages) { %>
                            <li class="page-item disabled"><a class="page-link">Trang Cuối</a></li>
                        <% } else { %>
                            <li class="page-item"><a class="page-link" href="/admin/manageUser/<%= pages %>">Trang
                                    Cuối</a></li>
                        <% } %>
                    </ul>
                <%}%>
        </div>
    </div>
</div>