<div class="container">
    <div class="row">
        <div class="col">
            <div class="shadow-lg d-block shadow text-center"
                 style="width: 100%;min-height: 630px;margin-top: 119px;background-color: rgba(255,255,255,0.79);">
                <h1>Thông Tin Thành Viên</h1>
                <table class="table table-striped">
                    <tr>
                        <th scope="row">ID:</th>
                        <th><span class="c-font-uppercase"><%= userView._id %></span></th>
                    </tr>
                    <tr>
                        <th scope="row">Tên tài khoản:</th>
                        <th><%= userView.name %></th>
                    </tr>
                    <tr>
                        <th scope="row">Bài viết:</th>
                        <td><b class="text-danger"><%= userView.countPost %></b></td>
                    </tr>

                    <tr>
                        <th scope="row">Điểm Cống Hiến:</th>
                        <td><b class="text-success"><%= userView.point %></b></td>
                    </tr>
                    <tr>
                        <th scope="row">Chức vụ:</th>
                        <td>
                            <select id="permision" name="permision" onChange="statusChange(this.value)">
                                <% for(var i = 0; i < permisions.length; i++) { %>
                                <option value="<%= i %>"<%= (i == userView.permission) ? ' selected' : '' %>><%= permisions[i] %></option>
                                <% } %>
                            </select>
                            <span id="loading" style="display: none">
                                <img src="/assets/img/loading.svg" width="30px">
                            </span>
                            <span id="success" style="display: none">
                                <img src="/assets/img/tick.png" width="30px">
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function statusChange(value) {
        $('#loading').show();
        $('#success').hide();
        $.ajax({
            url : "/admin/manageUser/update/<%= userView._id %>",
            type : "POST",
            dataType:"text",
            data : {
                permision : $('#permision').val()
            },
            success : function (result) {
                //$('#result').html(result);
                setTimeout(function() {
                    $('#loading').hide();
                    $('#success').show();
                }, 1000);
            }
        });
    }
</script>